.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
}
.header__menu{
    display: none;
}

.header__link {
    text-decoration: none;
    font-weight:  400;
    font-size: var(--size-xs);
    transition: color 0.3s ease;
}

.header__link:hover {
    color: var(--clr-sky500);
}
.header__line{
    border: 1px solid var(--clr-zinc700) ;
    padding-top: 1.5em;
}
.header__sun {
    display: block;
    color: var(--clr-zinc700);
    width: var(--size-base);
    height: var(--size-base);
}


.menu__bar{
    color: var(--clr-zinc700);
    width: var(--size-4xl);
    height: var(--size-4xl);
    display: block;
    transition: color 0.3s ease;
}

.menu__bar:hover{
    color: var(--clr-sky500);
}
.header__content {
    color: var(--clr-slate5) !important;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .header__menu{
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 2em;
    }

    .header__content {
        font-size: var(--size-xs);
    }

    .menu__bar{
        display: none;
    }

}

/* lg */
@media (min-width: 1024px) {
    
    .header__link {
      font-size: var(--size-sm);
    }

    .header__sun {
        width: var(--size-xl);
        height: var(--size-xl);
    }
    .header__content {
        font-size: var(--size-sm);
    }
    
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */