.hero {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
.hero__img{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}
.hero__subtitle {
    color: var(--clr-sky500);
    font-size: var(--size-base);
    font-weight: 600;
    line-height: 0.9;
}
.hero__title {
    color: var(--clr-slate50);
    font-weight: 600;
    font-size: var(--size-4xl);
    line-height: 0.9;
}

.hero__btn{
    text-transform: capitalize;
    font-size: var(--size-sm);
}




/* xs */
@media (min-width: 475px) {
    .hero {
        gap: 1.5rem;
    }
    .hero__img{
        width: 6.5rem;
        height: 6.5rem;
    }
    .hero__subtitle {
        font-size: var(--size-lg);
    }

    .hero__title {
        font-size: var(--size-5xl);
    }
    
    .hero__btn{
        font-size: var(--size-base);
        color: var(--clr-slate5) !important;
    }
    
    
    
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .hero__img{
        width: 8rem;
        height: 8rem;
    }
    .hero__subtitle {
        font-size: var(--size-2xl);
    }

    .hero__title {
        font-size: var(--size-7xl);
    }
    
    .hero__btn{
        font-size: var(--size-lg);
    }
}

/* xl */
@media (min-width: 1280px) {
    .hero {
        gap:2rem;
    }
    .hero__img{
        width: 10rem;
        height: 10rem;
    }
    .hero__subtitle {
        font-size: var(--size-3xl);
    }

    .hero__title {
        font-size: var(--size-8xl);
    }
    
    .hero__btn{
        font-size: var(--size-xl);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */


