.mobile-nav {
    position: absolute;
    top:0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--clr-zinc900);
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mobilenav__menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mobile-nav__link {
    font-size: var(--size-sm);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}
.mobile-nav__link:hover{
    color: var(--clr-sky500);
}
.mobile-nav__link-line {
    border: 1px solid var(--clr-zinc700);
    padding-right: 1.5em;
}
.mobile-nav__sun {
    display: block;
    width: var(--size-xl);
    height: var(--size-xl);
    color: var(--clr-zinc700);
}
.colorSky500 {
    color: var(--clr-sky500) !important;
}
#mobile-nav__btn{
    font-size: var(--size-sm);
    color: var(--clr-slate5) !important;
}
.moblie__display-flex {
display: flex;
}
