/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
 }
 .section {
    margin-top: 10rem;
 }

 .btn {
     display: inline-block;
     font-weight: 500;
     text-decoration: none;
     letter-spacing: -0.03em;
     background-color: var(--clr-sky500);
     color: var(--clr-slate50);
     padding : 0.5em 1em;
     border-radius: 8px;
     box-shadow:  0 10px 20px rgba(59, 130, 246, 0.5), 
                  0 6px 6px rgba(59, 130, 246, 0.5),
                  0 0 100px -10px var(--clr-sky500);
    transition: transform 0.3s , box-shadow 0.3s;
 }

 .btn:hover{
    transform: translateY(-3px);
    box-shadow:  0 14px 28px rgba(59, 130, 246, 0.25), 
                  0 10px 10px rgba(59, 130, 246, 0.22),
 }
/* xs */




@media (min-width: 375px) {
    .container{
        max-width: 375px;
    }
}

@media (min-width: 475px) {
    .container{
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container{
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container{
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .ccontainer{
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container{
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container{
        max-width: 1536px ;
}}